<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_user.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_user.game_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @game_user.points %>
</p>

<p>
  <strong>W card 1:</strong>
  <%= @game_user.w_card_1 %>
</p>

<p>
  <strong>W card 2:</strong>
  <%= @game_user.w_card_2 %>
</p>

<p>
  <strong>W card 3:</strong>
  <%= @game_user.w_card_3 %>
</p>

<p>
  <strong>W card 4:</strong>
  <%= @game_user.w_card_4 %>
</p>

<p>
  <strong>W card 5:</strong>
  <%= @game_user.w_card_5 %>
</p>

<p>
  <strong>W card 6:</strong>
  <%= @game_user.w_card_6 %>
</p>

<p>
  <strong>W card 7:</strong>
  <%= @game_user.w_card_7 %>
</p>

<p>
  <strong>W card 8:</strong>
  <%= @game_user.w_card_8 %>
</p>

<p>
  <strong>W card 9:</strong>
  <%= @game_user.w_card_9 %>
</p>

<p>
  <strong>W card 10:</strong>
  <%= @game_user.w_card_10 %>
</p>

<%= link_to 'Edit', edit_game_user_path(@game_user) %> |
<%= link_to 'Back', game_users_path %>
