

<% x = 0 %>
<% y = 0 %>
<% if @round.player_1.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>
      <% if @round.player_1_card_1.blank? then %>
        <% x = x %>

      <% else %>
      <div class="container">
      <div class="WhiteCard">
        <br>
        <%= WhiteCard.where(id: @round.player_1_card_1).pluck(:text).first %>
        <% x = x + 1 %>
        <br>
      </div>
      <div>
        <br>
        <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_1, card: WhiteCard.where(id: @round.player_1_card_1).pluck(:id).first) %>
      </div>
      </div>

      <% end %>
      <br>

<% end %>

<% if @round.player_2.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_2_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_2_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_2, card: WhiteCard.where(id: @round.player_2_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>

<% if @round.player_3.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_3_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_3_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_3, card: WhiteCard.where(id: @round.player_3_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_4.blank? then %>
  <% y = y + 1 %>
<% else %>
  <br>
    <% if @round.player_4_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_4_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_4, card: WhiteCard.where(id: @round.player_4_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_5.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_5_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_5_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_5, card: WhiteCard.where(id: @round.player_5_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_6.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_6_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_6_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_6, card: WhiteCard.where(id: @round.player_6_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_7.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_7_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_7_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_7, card: WhiteCard.where(id: @round.player_7_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_8.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_18card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_8_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_8, card: WhiteCard.where(id: @round.player_8_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_9.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_9_card_1.blank? then %>
      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_9_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_9, card: WhiteCard.where(id: @round.player_9_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<% if @round.player_10.blank? then %>
  <% y = y + 1 %>
<% else %>

  <br>

    <% if @round.player_10_card_1.blank? then %>

      <% x = x %>

    <% else %>
    <div class="container">
    <div class="WhiteCard">
      <br>
      <%= WhiteCard.where(id: @round.player_10_card_1).pluck(:text).first %>
      <% x = x + 1 %>
      <br>
    </div>
    <div>
      <br>
      <%= link_to "Select this one", winner_path(:game => @round.game_id, :round => @round.id, :player => @round.player_10, :card => WhiteCard.where(id: @round.player_10_card_1).pluck(:id).first) %>
    </div>
    </div>

    <% end %>
    <br>

<% end %>
<p>
<%= 10 - y %> players in the game
</p><p>
<%= x %> have played their cards which leaves <%= ((10 - y) - x) - 1 %> left to play and 1 Card Czar.

</p>
