<p id="notice"><%= notice %></p>
<% if current_user then  %>
<div class="dealerFont">
<h1><strong>Dealer: </strong><%= User.where(id: @round.dealer_id).pluck(:email).last %></h1>
</div>
  <strong>Round:</strong>
  <%= @round.round_number %>


  <div class="gameTable">
  <table class="darkTable">
    <thead>
      <tr>
        <th colspan="2">
          <%= Game.where(id: @round.game_id).pluck(:name).first %>
        </th>
      </tr>
      <tr>
        <th>
          Player
        </th>
        <th>
          score
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= User.where(id: @round.player_1).pluck(:email).first %>

        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_1, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_2).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_2, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_3).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_3, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_4).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_4, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_5).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_5, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_6).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_6, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_7).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_7, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_8).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_8, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_9).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_9, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
      <tr>
        <td>
          <%= User.where(id: @round.player_10).pluck(:email).first %>
        </td>
        <td>
          <%= GameUser.where(user_id: @round.player_10, game_id: @round.game_id).pluck(:points).first %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="container">
    <div class="WhiteCard">
      <div class="container BlackCard">
          <br>
          <%= BlackCard.where(id: @round.b_card).pluck(:text).first %>

          <div>
            <%= image_tag'logo_b.PNG', :style => "position: absolute; bottom: 5px; width: 150px;"%>
          </div>
      </div>
    </div>
  </div>
<hr>




<% if !@round.win_card_1 = 0 %>
  <div class="container WhiteCard">
  <%= WhiteCard.where(id: @round.win_card_1).pluck(:text).first %>
  </div>
  <div>
    The Winner is: <% User.where(id: @round.win_player).pluck(:email).first %>
  </div>
<% else %>

  <div class="container">
    <%= render 'form', round: @round %>
  </div>
<% end %>

<hr>

<%= link_to 'Back', games_path %>
<hr>
<div class="container">
	Winner of the last round in the game was: <%= User.where(id: Round.where(game_id: @round.game_id).pluck(:win_player).second_to_last).pluck(:email).first %>
</div>
<div class="container">
  <div class="WhiteCard">
    <div class="container BlackCard">
        <br>
        <%= BlackCard.where(id: Round.where(game_id: @round.game_id).pluck(:b_card).second_to_last).pluck(:text).first %>

        <div>
          <%= image_tag'logo_b.PNG', :style => "position: absolute; bottom: 5px; width: 150px;"%>
        </div>
    </div>
  </div>
<div class="container WhiteCard">
  <br>
  <%= WhiteCard.where(id: Round.where(game_id: @round.game_id).pluck(:win_card_1).second_to_last).pluck(:text).first %>
  <div>
    <%= image_tag'logo_w.PNG', :style => "position: absolute; bottom: 5px; width: 150px;"%>
  </div>
</div>
</div>
<% else %>
Please Sign In!!
<% end %>
