<div>
  <% if current_user then  %>

  <div class="gametitle"><h1><%= link_to "Click here for Games", games_path %></h1></div>
  <% else %>
  Please Sign In!!
  <% end %>
</div>
<br>
<hr>
<br>
<div class="container">
<div class="WhiteCard">
  <div class="container BlackCard">
      <br>
      <% @black_card = BlackCard.where(pick_amount: "1").order(Arel.sql('random()')).first %>
      <%= @black_card.text %>

      <div>
        <%= image_tag'logo_b.PNG', :style => "position: absolute; bottom: 5px; width: 150px;"%>
      </div>
  </div>
</div>


<div class="container WhiteCard">
  <br>
  <% @white_card = WhiteCard.order(Arel.sql('random()')).first %>
  <%= @white_card.text %>
  <div>
    <%= image_tag'logo_w.PNG', :style => "position: absolute; bottom: 5px; width: 150px;" %>
  </div>
</div>

</div>
<br>
<hr>
<div class="container">
  <P>Welcome to this online version of <%= link_to "Cards Agaisnt Humanity", "https://store.cardsagainsthumanity.com/" %> game.</p>
  <P>please consider donating to help the <h1><%= link_to "NHS Charites Together", "https://www.nhscharitiestogether.co.uk/" %></h1> during this pandemic
</div>
