<p id="notice"><%= notice %></p>



<table class="darkTable">
  <thead>
    <tr>
      <th colspan="2">Black Cards</th>
      <th>Pick amount</th>

    </tr>
  </thead>

  <tbody>
    <% @black_cards.each do |black_card| %>
      <tr>
        <td> <%= black_card.id %> </td>
        <td> <%= black_card.text %> </td>
        <td><%= black_card.pick_amount %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'return to home', root_path %>
