<p id="notice"><%= notice %></p>

<table width="100%">
  <% i = 0 %>
  <tr>
<% @games.each do |game| %>
    <% if i < 3 then %>
      <td width = "30%" >
        <table>
              <thead>
                <tr>
                  <th colspan="2" class="gametitle" ><h1><%= link_to(game.name, "rounds/" + game.round_id.to_s) %></h1></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Round:</td>
                  <td><%= game.round_id  %></td>
                </tr>
                  <tr>
                    <td>player_1</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_1).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "1") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_2</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_2).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "2") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_3</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_3).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "3") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_4</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_4).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "4") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_5</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_5).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "5") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_6</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_6).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "6") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_7</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_7).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "7") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_8</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_8).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "8") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_9</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_9).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "9") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_10</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_10).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "10") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
              </tbody>
        </table>
        
        <% link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>

      </td>
      <% i = i + 1 %>
    <% else %>
    </tr>
    <tr>
      <td width = "30%" >
        <table>
              <thead>
                <tr>
                  <th colspan="2" class="gametitle" ><h1><%= link_to(game.name, "rounds/" + game.round_id.to_s) %></h1></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Round:</td>
                  <td><%= game.round_id  %></td>
                </tr>
                  <tr>
                    <td>player_1</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_1).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "1") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_2</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_2).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "2") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_3</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_3).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "3") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_4</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_4).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "4") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_5</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_5).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "5") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_6</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_6).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "6") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_7</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_7).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "7") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_8</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_8).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "8") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_9</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_9).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "9") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>player_10</td>
                    <td>
                      <% @user = User.where(id: Round.where(id: game.round_id).pluck(:player_10).first).pluck(:email).first %>
                      <% if @user.blank? %>
                        <%= link_to "join", add_player_path(:game => game.id, :round => game.round_id, :player => "10") %>
                      <% else %>
                        <%= @user %>
                      <% end %>
                    </td>
                  </tr>
              </tbody>
        </table>

        <% link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>

      </td>
      <% i = 1 %>
    <% end %>
<% end %>
</tr>
</table>
<br>

<hr>


<div class="gametitle"><h1><%= link_to 'Click Here - New Game', new_game_path %> </h1></div>

<p>
  <ul>
    <li>click on New Game to setup new game or join an existing game</li>
    <li>click on name of game to play</li>
    <li>once you join a game you can't leave</li>
    <li>each player is given 10 white cards</li>
    <li>max 10 players per game</li>
  </ul>
<p>
This has been app was thrown together over the easter long weekend of 2020, the year of the pandemic!
</p><p>
  it has not been fully tested and as such will no doubt have some bugs in the code.
</p><p>
  one such bug is that you can jion a game more than once but it will not let you play more than one hand and so you will just be taking up a slot that could be used by someone else.
</p><p>
  another is that the dealer can pick the winner before all players have chosen their cards :(
</p><p>
  i will try to resolve these issue and anymore that you find as and when I can.
  </p>
